content.content(ng-app="myApp")
    div#example(ng-controller="MainController")
        .hidden-on-narrow#configurator(kendo-pivot-configurator, k-height="580", k-data-source="dataSource")
        .hidden-on-narrow#pivotgrid(kendo-pivot-grid, k-options="options")
        .responsive-message

        button(ng-click="showScope()") showScope
        button(ng-click="getChartObject()") getChartObject

        div#chartContainer(create-chart, chart-object="dataObject" container-name="chartContainer") FusionCharts XT will load here!