content.content
    div#example
        .hidden-on-narrow#configurator
        .hidden-on-narrow#pivotgrid
        .responsive-message

        div#chart
        //button(onclick="getChartObject()") getChartObject
        //
        //div#chartContainer FusionCharts XT will load here!