doctype html
html(lang='en')
   head
       meta(charset='utf-8')
       meta(name='msapplication-TileColor', content='#ffffff')
       meta(name='theme-color', content='#ffffff')
       link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,800', rel='stylesheet', type='text/css')
       link(href='../node_modules/reset-css/reset.css', rel='stylesheet', type='text/css')
       //link(href='../node_modules/slick-carousel/slick/slick.css', rel='stylesheet', type='text/css')
       //link(href='../node_modules/slick-carousel/slick/slick-theme.css', rel='stylesheet', type='text/css')
       //link(href='../node_modules/ng-dialog/css/ngDialog.css', rel='stylesheet', type='text/css')
       //link(href='../node_modules/ng-dialog/css/ngDialog-theme-default.css', rel='stylesheet', type='text/css')

       link(href='../node_modules/kendo-ui-core/css/web/kendo.common.core.css', rel='stylesheet', type='text/css')
       link(href='../node_modules/kendo-ui-core/css/web/kendo.default.min.css', rel='stylesheet', type='text/css')
       link(href='../node_modules/kendo-ui-core/css/mobile/kendo.mobile.common.min.css', rel='stylesheet', type='text/css')

       link(href='styles/style.min.css', rel='stylesheet', type='text/css')
       meta(name="viewport", content="width=device-width")
       title Test page
   body(ng-app="myApp",ng-controller="MainController as tab")
       block content
