.clearfix:before,
.clearfix:after {
  content ' '
  display table
}

.clearfix:after
  clear both

#pivotgrid
  width: 65%

#chart
  width: 65%

.hidden-on-narrow
  display: inline-block
  vertical-align: top