.banner
    .container
       .banner__tabs
           .banner__tabs_item.banner__tabs_item--active start tour
           .banner__tabs_item for all devices
       .banner__body
           img.banner__body_img(src='images/phones.png')
           span.banner__body_title fully responsive
           span.banner__body_desc Eum cu tantas legere complectitur, hinc utamur ea eam. Lorem ipsum dolor sit amet, volumus temporibus definitionem id ius, vel ut magna timeam appareat, movet timeam maiorum an ius.
               | Sea libris dictas lucilius et. Ne cibo urbanitas pri, qui ad populo accusamus. Quod congue ea ius, nisl aperiri sit ut.
           a.banner__body_button start tour