.description
   .description__item
       .description__item_title We Reach The Top
       .description__item_date September 2015
       .description__item_subtitle Kat is new brand
       .description__item_desc Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribus sit. Ius etiam nemore consulatu ne, at meliore explicari conceptam qui. Agam ceteros forensibus.
       .description__item_readmore read more
   .description__item
       .description__item_title We Reach The Top
       .description__item_date September 2015
       .description__item_subtitle Kat is new brand
       .description__item_desc Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribus sit. Ius etiam nemore consulatu ne, at meliore explicari conceptam qui. Agam ceteros forensibus.
       .description__item_readmore read more
   .description__item
       .description__item_title We Reach The Top
       .description__item_date September 2015
       .description__item_subtitle Kat is new brand
       .description__item_desc Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribus sit. Ius etiam nemore consulatu ne, at meliore explicari conceptam qui. Agam ceteros forensibus.
       .description__item_readmore read more
   .description__item
       .description__item_title We Reach The Top
       .description__item_date September 2015
       .description__item_subtitle Kat is new brand
       .description__item_desc Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribus sit. Ius etiam nemore consulatu ne, at meliore explicari conceptam qui. Agam ceteros forensibus.
       .description__item_readmore read more