footer.footer

script(src='../node_modules/angular/angular.min.js')
script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
script(src='../node_modules/slick-carousel/slick/slick.js')
script(src='../node_modules/ng-dialog/js/ngDialog.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/waypoints/1.1.6/waypoints.min.js')
script(src='scripts.js')

