header.header
    a.header__logo
        img.header__logo_img(src='images/logo.png')
        span.header__logo_text ket
    .header__nav
        a.header__nav_item.header__nav_item--active home
        a.header__nav_item services
        a.header__nav_item portfolio
        a.header__nav_item contacts