.portfolio#portf
   .container
       .portfolio_title our portfolio
       .portfolio_subtitle Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.
       .portfolio__tabs
           .portfolio__tabs_item.portfolio__tabs_item--active all
           .portfolio__tabs_item web
           .portfolio__tabs_item photography
           .portfolio__tabs_item graphic design
   .portfolio__wrap
       .portfolio__photos.center
           a.portfolio__photo
               img.portfolio__photo_image(src='images/img.jpg')
               .portfolio__desc
                   .portfolio__photo_title awesome photo
                   .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           a.portfolio__photo
               img.portfolio__photo_image(src='images/img.jpg')
               .portfolio__desc
                   .portfolio__photo_title awesome photo
                   .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           a.portfolio__photo
               img.portfolio__photo_image(src='images/img.jpg')
               .portfolio__desc
                   .portfolio__photo_title awesome photo
                   .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           a.portfolio__photo
               img.portfolio__photo_image(src='images/img.jpg')
               .portfolio__desc
                   .portfolio__photo_title awesome photo
                   .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           a.portfolio__photo
               img.portfolio__photo_image(src='images/img.jpg')
               .portfolio__desc
                   .portfolio__photo_title awesome photo
                   .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           a.portfolio__photo
               img.portfolio__photo_image(src='images/img.jpg')
               .portfolio__desc
                   .portfolio__photo_title awesome photo
                   .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
   .portfolio__counters
       .portfolio__counter-item
           img.portfolio__counter-item_icon(src='images/icon-projects.png')
           .portfolio__counter-item_value#value1 2151
           .portfolio__counter-item_title completed projects
       .portfolio__counter-item
           img.portfolio__counter-item_icon(src='images/icon-click.png')
           .portfolio__counter-item_value#value2 2151
           .portfolio__counter-item_title completed projects
       .portfolio__counter-item
           img.portfolio__counter-item_icon(src='images/icon-mails.png')
           .portfolio__counter-item_value#value3 2151
           .portfolio__counter-item_title completed projects
       .portfolio__counter-item
           img.portfolio__counter-item_icon(src='images/icon-jokes.png')
           .portfolio__counter-item_value#value4 2151
           .portfolio__counter-item_title completed projects