.portfolio
   .portfolio_title
   .portfolio_subtitle
   .portfolio__tabs
       .portfolio__tabs_item all
       .portfolio__tabs_item all
       .portfolio__tabs_item all
       .portfolio__tabs_item all
   .portfolio__wrap
       .portfolio__photos
           .portfolio__photo
               img.portfolio__photo_image
               .portfolio__photo_title awesome photo
               .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           .portfolio__photo
               img.portfolio__photo_image
               .portfolio__photo_title awesome photo
               .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           .portfolio__photo
               img.portfolio__photo_image
               .portfolio__photo_title awesome photo
               .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           .portfolio__photo
               img.portfolio__photo_image
               .portfolio__photo_title awesome photo
               .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
           .portfolio__photo
               img.portfolio__photo_image
               .portfolio__photo_title awesome photo
               .portfolio__photo_subtitle Eum cu tantas legere complectitur, hinc utamu
   .portfolio__counters
       .portfolio__counter-item
           img.portfolio__counter-item_icon
           .portfolio__counter-item_value 2151
           .portfolio__counter-item_title completed projects
       .portfolio__counter-item
           img.portfolio__counter-item_icon
           .portfolio__counter-item_value 2151
           .portfolio__counter-item_title completed projects
       .portfolio__counter-item
           img.portfolio__counter-item_icon
           .portfolio__counter-item_value 2151
           .portfolio__counter-item_title completed projects
       .portfolio__counter-item
           img.portfolio__counter-item_icon
           .portfolio__counter-item_value 2151
           .portfolio__counter-item_title completed projects