.portfolio#portf
   .container
       .portfolio_title our portfolio
       .portfolio_subtitle Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.
       .portfolio__tabs
           .portfolio__tabs_item.portfolio__tabs_item--active(ng-click = "sort('')") all
           .portfolio__tabs_item(ng-click = "sort('web')") web
           .portfolio__tabs_item(ng-click = "sort('photo')") photography
           .portfolio__tabs_item(ng-click = "sort('graphic')") graphic design
   .portfolio__wrap
       .portfolio__photos.center
           a.portfolio__photo(ng-repeat = "product in products | filter : filters", products='each')
                img.portfolio__photo_image(ng-src='{{product.src}}', ng-click='clickToOpen(product)')
                .portfolio__desc
                    .portfolio__photo_title {{product.name}}
                    .portfolio__photo_subtitle {{product.description}}
   .portfolio__counters
       .portfolio__counter-item(ng-repeat= "counter in counters")
           img.portfolio__counter-item_icon(ng-src='{{counter.icon}}')
           .portfolio__counter-item_value {{counter.value | number}}
           .portfolio__counter-item_title {{counter.description}}
