doctype html
html(lang='en', ng-app)
   head
       meta(charset='utf-8')
       link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,800', rel='stylesheet', type='text/css')
       link(href='../node_modules/reset-css/reset.css', rel='stylesheet', type='text/css')
       link(href='style.css', rel='stylesheet', type='text/css')
       script(src='../node_modules/angular/angular.min.js')
       meta(name="viewport", content="width=device-width")
       title Ket
   body
       block content
