.timeline
   ul.flik-timeline.flik-timeline-1.timeline__wrap(data-scroll-effect='default-effect')
        li.event.timeline__item(data-date='September 2015')
            h3.timeline__item_title(data-title='We Reach The Top') We Reach The Top
            p.event-content.timeline__item_desc(data-date='September 2015')
                | Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribu
                a.timeline__item_readmore read more
        li.event.timeline__item(data-date='September 2015')
            h3.timeline__item_title(data-title='We Reach The Top') We Reach The Top
            p.event-content.timeline__item_desc(data-date='September 2015')
                | Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribu
                a.timeline__item_readmore read more
        li.event.timeline__item(data-date='September 2015')
            h3.timeline__item_title(data-title='We Reach The Top') We Reach The Top
            p.event-content.timeline__item_desc(data-date='September 2015')
                | Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribu
                a.timeline__item_readmore read more
        li.event.timeline__item(data-date='September 2015')
            h3.timeline__item_title(data-title='We Reach The Top') We Reach The Top
            p.event-content.timeline__item_desc(data-date='September 2015')
                | Lorem ipsum dolor sit amet, rebum dolore labores cu pri. Ferri iudico scripta ut eam, diceret euismod gubergren has eu, an quo tale vivendum. Ad quidam gubergren vituperatoribu
                a.timeline__item_readmore read more
