.timeline#services
   ul.flik-timeline.flik-timeline-1.timeline__wrap
        li.event.timeline__item(ng-repeat="line in timelineData", data-date='{{line.data}}')
            h3.timeline__item_title(data-title='{{line.title}}') {{line.subtitle}}
            p.event-content.timeline__item_desc(data-date='{{line.data}}')
                | '{{line.description}}
                a.timeline__item_readmore read more
