.banner
  position relative
  padding 150px 0 50px
  background-color color_light-bg
  animation bounceInUp 1s
  &__tabs
    display flex
    width 100%
    max-width 970px
    margin 0 auto 85px
    &_item
      position relative
      width 50%
      color color_gray-text
      line-height 50px
      text-transform uppercase
      text-align center
      border 1px solid color_gray-light
      cursor pointer
      transition .3s
      &:hover
        border-color darken(color_gray-light, 15%)
      &:first-child
        border-right-color transparent
        &:hover
          border-right-color transparent
      &:last-child
        border-left-color transparent
        &:hover
          border-left-color transparent
      &--active
        border 1px solid color_blue !important
        &:hover
          border 1px solid color_blue !important
          opacity: .8
        &:after, &:before
          content ''
          position absolute
          z-index 2
          left calc(50% - 15px)
          margin-top 0
          border 10px solid transparent
        &:before
          border-top 10px solid color_blue
          top 50px
        &:after
          top 49px
          border-top 10px solid color_light-bg
  &__body
    display: flex
    visibility: visible
    width 100%
    max-width: 970px
    margin: 0 auto
    padding-left 15px
    opacity: 1
    transition: opacity .3s
    &_half
      width: 50%
      &--right
        span
          text-align: right
        a
          float: right
    &.b
      float: left
      .banner__body_img
        right: calc(50% - 410px);
        left: auto
    &_img
      display: block
      margin: 0 auto
    &_title
      display block
      margin-bottom 30px
      color color_gray-text
      font-size 40px
      text-transform capitalize
    &_desc
      display block
      margin-bottom 30px
      color color_gray-text-light
      line-height 1.4
      text-align left
    &_button
      display inline-block
      padding 18px 38px
      border 2px solid color_blue
      text-transform uppercase
      transition .3s
      cursor pointer
      &:hover
        background-color: color_blue
        color color_black
      &:active
        opacity: .7

@media all and (max-width: width_md)
  .banner
    &__tabs
      max-width: 750px
    &__body
      max-width: 750px
      &_img
        width: 65%;

@media all and (max-width: width_sm)
  .banner
    &__tabs
      max-width: 420px
    &__body
      max-width: 420px
      &_title
        font-size 35px
      &_img
        width: 65%

@media all and (max-width: width_xs)
  .banner
    &__body
      max-width 300px
      &_title
        font-size 20px
      &_desc
        font-size 12px
      &_button
        padding 10px 20px
    &__tabs
      max-width 300px
      margin 0 auto 45px