.clearfix:before,
.clearfix:after {
  content ' '
  display table
}

.clearfix:after
  clear both

@keyframes bounceInUp
  from,
  60%,
  75%,
  90%,
  to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  from
    opacity: 0
    transform: translate3d(0, 3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, 0, 0)
  75%
    transform: translate3d(0, 10px, 0)
  90%
    transform: translate3d(0, 0, 0)
  to
    transform: translate3d(0, 0, 0)

html, body
  font-family "Raleway"
  font-size 15px
  scroll-behavior smooth

.container
  max-width 1150px
  margin 0 auto

@media all and (max-width: width_lg)
  .container
    max-width 900px

@media all and (max-width: width_md)
  .container
    max-width 768px
