.header
  height header_height
  transition .3s
  &__logo
    display inline-block
    line-height header_height
    transition .3s
    &_img
      width 41px
      height 33px
      margin-right 25px
      vertical-align middle
      letter-spacing 10px
    &_text
      font-size 22px
      font-family "Raleway"
      text-transform uppercase
      color color_gray-text
      font-weight 800
      line-height 1.227
      vertical-align middle
      letter-spacing 10px
  &__nav
    display inline-block
    line-height header_height
    float right
    transition .3s
    &_item
      transition .3s
      display inline-block
      vertical-align: top;
      font-size 15px
      font-family "Raleway"
      text-transform uppercase
      color color_gray-text
      line-height header_height - 2px
      padding 0 10px
      margin 0 10px
      cursor pointer
      border-bottom 2px solid transparent
      text-decoration: none
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0
      &--active
        color color_blue
        border-bottom 2px solid color_blue

.fixed
  position: fixed
  width: 100%;
  background: white;
  z-index: 1;
  height: header_height--fixed
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  top: 0
  .header
    &__logo
      line-height header_height--fixed
    &__nav
      height: header_height--fixed
      &_item
        line-height header_height--fixed - 2px


*{
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.top-animate {
  background: color_black !important;
  top: 13px !important;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mid-animate {
  opacity: 0;
}
.bottom-animate {
  background: color_black !important;
  top: 13px !important;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}
.top-menu {
  top: 5px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: color_white;
}
.mid-menu {
  top: 13px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: color_white;
}
.bottom-menu {
  top: 21px;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: color_white;
}
.menui {
  background: color_black
  transition: 0.6s ease;
  transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
  margin-top: 10px;
  position: absolute;
}


.icon {
  z-index: 999;
  position: fixed;
  display: block;
  padding: 9px;
  height: 32px;
  width:32px;
  margin: 0;
  top: 0;
  right: 0;
  display: none
}

.mobilenav {
  top: 0;
  left:0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0
}

.mobilenav a {
  text-align: center;
  color: color_black
  text-decoration: none;
  font-weight: 500;
  font-size: 16px
  width: 100%;
  display: block
  background: rgba(255, 255, 255, 0.9);
  padding: 0
  margin: 0
  line-height: header_height--tablet - 2 !important;
  border: none !important
}
.mobilenav a:first-child {
  margin-top: 50px;
}

.mobilenav+.icon
  display: block

.mobilenav .header__nav_item--active
  border-bottom: none

@media all and (max-width: 990px)
  .header
    height: header_height--tablet
    &__logo
      line-height header_height--tablet
    &__nav
      height: header_height--tablet
      &_item
        line-height header_height--tablet - 2px
  .fixed.header
    height header_height--fixed

@media all and (max-width: 770px)
  .header__logo
    margin-left: 15px