.timeline
  @extend .container
  padding-top 170px
  overflow: hidden;
  &__wrap
    border-bottom-right-radius 4px
    border-top-right-radius 4px
    background rgba(255, 255, 255, .03)
    color color_gray-text
    margin 50px auto
    letter-spacing .5px
    position relative
    line-height 1.4em
    font-size 1.03em
    padding 0 50px 0 0
    list-style none
    text-align left
    font-weight 100
    max-width 45%
    left 11%
  &__item
    border-bottom 1px dashed rgba(255, 255, 255, .1)
    border-left 1px solid color_timeline
    padding 0 0 25px 70px
    position relative
    opacity: 1
    transition: .6s
    &:last-of-type
      padding-bottom 0
      margin-bottom 0
      border none
    &:before, &:after
      position absolute
      //display block
      top 0
      //transition: 1s
      //opacity: 1
    &:before
      left -195px
      font-size 13px
      font-family "Raleway"
      color color_gray-text-light
      line-height 1.4
      content attr(data-date)
      text-align right
      font-weight 100
      min-width 120px
      top 25px
    &:after
      box-shadow 0 0 0 3px color_blue
      left -5px
      background color_white
      border-radius 50%
      height 10px
      width 10px
      content ""
      top 3px
    &_title
      opacity: 1
      font-size 17px
      font-family "Raleway"
      color color_gray-text
      line-height 1.588
      font-weight 500
      position: relative
      &:before
        content attr(data-title)
        left -299px
        font-size 17px
        font-family "Raleway"
        color color_blue
        line-height 1.4
        position absolute
        width: 160px;
        text-align: right;
    &_desc
      opacity: 1
      transition: .6s
      margin-top 10px
      font-size 13px
      font-family "Raleway"
      color color_gray-text-light
      line-height 1.4
      transition: .6s
    &_readmore
      display block
      font-size 13px
      font-family "Raleway"
      color color_blue
      line-height 2.077
      text-transform capitalize
      cursor pointer
      opacity: 1
      transition: .6s

.slide-right-left-effect {
  visibility visible
  animation slide-right-left .6s
}

.slide-left-right-effect {
  display block
  animation slide-left-right 1s
}
.slide-left-right-effect-delay {
  display block
  animation slide-left-right 2s
  animation-delay .5s
}

@keyframes slide-right-left
  0%
    opacity 0
    transform translateX(2000px)
  100%
    transform translateX(0)

@keyframes slide-left-right
  0%
    opacity 0
    transform translateX(-2000px)
  70%
    transform translateX(10px)
  80%
    transform translateX(-5px)
  90%
    transform translateX(2px)
  100%
    transform translateX(0)


.visible-elem
  .timeline__item:before
    @extend .slide-left-right-effect-delay
  .timeline__item_title
    @extend .slide-right-left-effect
    &:before, &:after
      @extend .slide-left-right-effect
  .timeline__item_desc
    @extend .slide-right-left-effect

.hidden-elem
  .timeline__item:before
    opacity: 0
    left: -2005px;
  .timeline__item_title
    opacity: 0
    &:before
      opacity: 0
  .timeline__item_desc
    opacity: 0


@media only screen and (max-width:990px)
  .timeline
    &__wrap
      max-width 65%
      margin 25px
      left: 32.5%;
    &__item
      padding-left: 35px
      &:before
        left: -150px;
      &_title
        &:before
          left: -220px;

